# =========================
# OS
# =========================
.DS_Store

# =========================
# Python
# =========================
__pycache__/
*.pyc

# =========================
# Local DB
# =========================
db.sqlite3

# =========================
# Logs
# =========================
*.log

